<h1>Welcome to the valley</h1>
<p>
  Guelder Valley is a layout primarily based in British Railways era 4,
  1948-1956.
</p>
<p>
  At this time, the “Big Four” railway companies had just been merged into a
  single company, British Railways. Steam locomotives were dominant, but toward
  the end of the era in-routes were being made into using smaller diesel
  locomotives as well.
</p>
<p>
  Since this model railway has been collected over many years, there are several
  other locomotives which do not fit into the era depicted. They are marked as
  “In Storage” in the parts lists. I may consider modernising the layout in the
  future to include them.
</p>

<h2>Basic outline</h2>
<div class="centred-text">
  <img
    src="{{ rootPath }}assets/images/layout.png"
    alt="a diagram of the layout"
    class="responsive rounded shadowed"
    data-image
  />
</div>
