/* ----------------------------------------------------- *
 * Global elements
 * ----------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Geomanist, sans-serif;
  background-color: var(--color-default-background);
  color: var(--color-default-foreground);
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

::selection,
::-moz-selection {
  background: var(--color-selection-background);
}

a {
  color: var(--color-link-foreground);
}

a:hover {
  color: var(--color-link-hover-foreground);
}

h1,
h2,
h3 {
  position: relative;
  font-weight: normal;
  text-shadow: 0 2px 1px var(--color-default-shadow);
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 1.75em;
  }
}

hr {
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: var(--color-container-border);
}

/* ----------------------------------------------------- *
 * Helper classes
 * ----------------------------------------------------- */
.wrapper {
  width: 80%;
  min-width: 400px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100%;
    min-width: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black none no-repeat center / cover;
  z-index: -1;
}

.rounded {
  border-radius: 4px;
}

.shadowed {
  box-shadow: 0 2px 4px var(--color-default-shadow);
}

.centred-text {
  text-align: center;
}

.secondary-text {
  color: var(--color-secondary-foreground);
}

img.responsive {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------- *
 * HTML table element styling
 * ----------------------------------------------------- */
.table {
  margin-top: 0.25em;
  margin-bottom: 1em;
  border-collapse: collapse;
  border: 1px solid var(--color-container-border);
  background: var(--color-table-row-background);
}

.table thead {
  border-bottom: 2px solid var(--color-container-border);
}

.table tfoot {
  border-top: 2px solid var(--color-container-border);
}

.table th,
.table td {
  padding: 0.5em 1em;
}

.table .number,
.table .cost {
  text-align: right;
}

.table .cost::before {
  content: '£';
  display: inline;
  /* Remove gap caused by white space */
  margin-right: -0.2em;
}

.table tr:nth-child(even) {
  background: var(--color-table-row-background-alt);
}

.table.hoverable tbody tr {
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.table.hoverable tbody tr:hover {
  background-color: var(--color-link-foreground);
  color: var(--color-light-foreground);
}

.table.hoverable tbody tr:hover a {
  color: inherit;
}

/* ----------------------------------------------------- *
 * Loading shimmer
 * ----------------------------------------------------- */
.shimmer {
  background: var(--color-loader-skeleton-primary)
    linear-gradient(
      to right,
      var(--color-loader-skeleton-secondary) 0%,
      var(--color-loader-skeleton-primary) 50%,
      var(--color-loader-skeleton-secondary) 100%
    );
  background-size: 200% 100%;
  border-radius: 4px;
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  from {
    background-position: 100% center;
  }

  to {
    background-position: -100% center;
  }
}

/* ----------------------------------------------------- *
 * Page header
 * ----------------------------------------------------- */
.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .header-area {
    flex-direction: column;
  }
}

/* ----------------------------------------------------- *
 * Full-width button
 * ----------------------------------------------------- */
.big-button {
  display: block;
  margin-bottom: 16px;
  padding: 8px 16px;
  background-color: var(--color-notification-background);
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 2px 4px var(--color-default-shadow);
  transition: box-shadow 0.2s;
}

.big-button:hover {
  box-shadow: 0 8px 10px var(--color-default-shadow);
}

/* ----------------------------------------------------- *
 * Full-width callout
 * ----------------------------------------------------- */
.tip {
  position: relative;
  background-color: var(--color-container-background);
  border: 1px solid var(--color-default-border);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 4px;
}

.tip .icon {
  position: absolute;
  left: 4px;
  top: 5px;
}
