<div
  class="backdrop"
  [ngStyle]="{
    'background-image':
      'url(\'' + rootPath + 'assets/images/bittern-backdrop.jpg\')'
  }"
  data-backdrop
></div>

<div id="hero-container">
  <div id="visual-container">
    <img
      id="logo"
      src="{{ rootPath }}assets/images/logo-full.png"
      alt="Guelder Valley"
    />
    <div id="hero-foreground" class="rounded shadowed">
      <p data-tagline>
        A model railway I’ve been building for {{ ageLayout }} years.
      </p>
      <ul class="site-map">
        <li>
          <a routerLink="/layout">
            <i
              class="icon fad fa-fw fa-drafting-compass"
              aria-hidden="true"
            ></i>
            Layout
          </a>
        </li>
        <li>
          <a routerLink="/parts">
            <i
              class="icon fad fa-fw fa-clipboard-list-check"
              aria-hidden="true"
            ></i>
            Parts
          </a>
        </li>
        <li>
          <a routerLink="/journal">
            <i class="icon fad fa-fw fa-newspaper" aria-hidden="true"></i>
            Updates
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
